[Unit]
Description=wedding-save-the-date
Documentation=
After=network.target
After=postgresql.service

[Service]
Type=simple
Environment=CONTENT_ROOT=/var/www/wedding-save-the-date/static
Environment=POSTGRES_CONN_STRING=postgresql://wedding:weddingpasswordsecret@127.0.0.1/wedding
ExecStart=/usr/local/bin/wedding-save-the-date
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=wedding-save-the-date

[Install]
WantedBy=multi-user.target
